{% extends 'base.html' %} {% block content %}
<h1 class="mt-20 p-2 text-lg font-bold">Leaderboard</h1>
<table class="table-auto border m-auto">
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Highest Score</th>
      <th>Last Played</th>
      <th>Games Played</th>
    </tr>
  </thead>
  <tbody>
    {% if leaderboards %} {% for record in leaderboards %}
    <tr>
      <td>{{record.user.name}}</td>
      <td>{{record.user.email}}</td>
      <td>{{record.score}}</td>
      <td>{{record.score_date}}</td>
      <td>{{record.games_played}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Table is empty</p>
{% endif %} {% endblock %}
