@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-boop {
  /* user typing */
  animation: boop 0.2s;
}

.animate-flip {
  /* guess submit */
  animation: flip 0.3s;
}

.animate-fade-in {
  /* game over -> modal pop-up */
  animation: fade-in 0.5s ease-in-out;
}

@keyframes boop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
